@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html {
  font-size: 15px;
}

:root {
  --color-tomato: hsl(4, 100%, 67%);
  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--dark-slate-gray);

  min-height: 100vh;
  width: 100%;
}

.app-container {
  background-color: var(--white);
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mobile-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.desktop-img {
  display: none;
}

.form-container {
  padding: 1rem;
}

@media (min-width: 400px) {
  body {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .app-container {
    width: 90%;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .app-container {
    width: 90%;
    background-size: cover;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: row;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: inline;
    width: 100%;
    height: 100%;
  }

  .img-container {
    order: 2;
  }

  .form-container {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.heading {
  font-size: 2rem;
  color: var(--charcoal-grey);
}

.description {
  font-size: 1rem;
  color: var(--dark-slate-gray);
  margin: 1rem 0;
}

ul {
  list-style: none;
  margin: 1rem 0;
}

ul li {
  display: flex;
  margin: 1rem;
  font-size: clamp(0.7rem, 50vw, 1rem);
}

ul li img {
  margin-right: 1rem;
}

.email-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 1.5em;
}

.email-field input {
  height: 3rem;
  border-radius: 5px;
  border: solid 1px var(--grey);
  padding: 0.5rem 1rem;
  outline: none;
}

button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--charcoal-grey);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background: linear-gradient(
    to right,
    var(--color-tomato),
    hsl(4, 100%, 67%, 0.9)
  );
}

.label-error {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

.label-error label {
  font-size: 0.75rem;
  font-weight: 700;
}

.label-error p {
  color: var(--color-tomato);
  font-weight: 700;
  font-size: 0.8rem;
}

.error-input {
  background-color: hsla(4, 100%, 67%, 0.4);
  border: solid 2px var(--color-tomato);
  box-shadow: 0px 0px 3px hsla(4, 100%, 67%);
}

.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 400px) {
  .success-message {
    height: 90vh;
  }
}

.success-message img{
  height: 15%;
  width: 15%;
  margin: 0.5rem;
}

.success-message h1{
  font-weight: bold;
  color: var(--charcoal-grey);
  font-size: 2.4rem;
  margin: 0.5rem;
}

.success-message p{
  color: var(--dark-slate-gray);
  margin: 0.5rem;
  line-height: 1.6;
}

.success-message p span{
  font-weight: 700;
  color: var(--dark-slate-gray);
  font-size: 1.1rem;
}